*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid re;
    
  }

  body{
    background-image: url("pexels-dexter-fernandes-2646237.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
h1{
    color: white;
    font-size: 400%;
    padding: 2%;
}
h2{
    color: grey;
    font-size: 200%;
    padding-bottom: 40px;
}


.translucent-form-overlay {
    display:block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
  }
  
  .translucent-form-overlay .columns.row {
    display: block;
  }
  
  
  .translucent-form-overlay input, .translucent-form-overlay select {
    color: #8a8a8a;
  }
   
  .translucent-form-overlay input::placeholder {
    color: #8a8a8a;
  }

  #output{
    color: goldenrod;
    background-color: rgba(206, 202, 202, 0.277);
    display:block;
    text-align: center;
    margin-top: 2%;
    padding: 1%;
  }
  
  #outputTotal{
    color: goldenrod;
    background-color: rgba(206, 202, 202, 0.277);
    display:block;
    text-align: center;
    margin-top: 2%;
    padding: 1%;
  }

  .button-hover-like {
    border: 2px solid #767676;
    background: transparent;
    color: #767676;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.07rem;
    transition: all 0.2s ease-in-out;
    position: relative;
  }
  
  .button-hover-like span {
    transition: all 0.2s ease-in-out;
  }
  
  .button-hover-like .fa {
    position: absolute;
    font-size: 1.2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #F15261;
    right: -20px;
    transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
  }
  
  .button-hover-like:hover {
    border-color: rgb(90, 166, 90);
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .button-hover-like:hover span {
    margin-right: 20px;
    color: rgb(90, 166, 90);
  }
  
  .button-hover-like:hover .fa {
    right: 10px;
  }
  
  

  
  